{% extends 'base.html' %}

{% block content %}
<div>
    <h3>The cheatsheets:</h3>
</div>

<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash_success mb-3">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %} -->

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<div>
    {% for cheatsheet in cheatsheets %}
    <div class="fs-5">
        <a href="{{ url_for('cheatsheet.edit_cheatsheet', id=cheatsheet.id) }}"
            class="link-secondary articles articles_a">{{ cheatsheet.title }}</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
