{% extends 'base.html' %}




{% block content %}

    <span class="fs-3">The articles:</span>


<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash_attention mb-3">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %} -->

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<div>
    {% for article in articles %}
    <div class="fs-5">
        <a href="{{ url_for('articles.show_article', id=article.id) }}" class="link-secondary articles articles_a">{{
            article.title }}</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
