{% extends 'base.html' %}


{% block content %}

<span class="fs-3">The articles:</span>


{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div class="{{ category }}">{{ message }}</div>
{% endfor %}
{% endwith %}

<div>
  {% for article in articles %}
  <div class="fs-5">
    <a href="{{ article[1] }}" class="link-secondary articles articles_a" target="_blank">{{ article[0] }}</a>
    <a href="{{ url_for('articles.show_article', id=article[2]) }}" role="button"
      class="btn btn-sm btn-outline-warning ms-3 {{ article[3] }}">Edit</a>
  </div>
  {% endfor %}
</div>

{% endblock %}