{% extends 'base.html' %}

{% block content %}
<div>
    <p class="fs-3">Search result <span style="color:#0a73d6">{{ tag }}:</span></p>
    <p class="fs-5" style="color:#0a73d6">In articles:</p>
</div>

<div class="container">
    {% for article in articles %}
    <div class="fs-5">
        <a href="{{ article[1] }}" class="link-secondary articles articles_a" target="_blank">{{ article[0] }}</a>
        <a href="{{ url_for('articles.show_article', id=article[2]) }}" role="button"
            class="btn btn-sm btn-outline-warning ms-3 {{ article[3] }}">Edit</a>
    </div>
    {% endfor %}
</div>

<p></p>

<p class="fs-5" style="color:#0a73d6">In cheatcheets:</p>
<div class="container">
    {% for cheatsheet in cheatsheets %}
    <div class="fs-5">
        <a href="{{ cheatsheet[2] }}" class="link-secondary articles articles_a" target="_blank">{{ cheatsheet[1] }}</a>
        <a href="{{ url_for('cheatsheet.edit_cheatsheet', id=cheatsheet[0]) }}" role="button"
            class="btn btn-sm btn-outline-warning ms-3 {{ cheatsheet[3] }}">Edit</a>
    </div>
    {% endfor %}
</div>

<div class="mt-2">
    <p class="fs-5"> <span style="color:#0a73d6">Found {{ matches }} matches.</span> </p>
</div>



{% endblock %}