{% extends 'base.html' %}

{% block content %}



<span class="fs-3">This is your personal assistant!</span>
<ul class="topic">
    <li>It can save prepared documents in 'txt', 'pdf', 'png', 'jpg' and 'jpeg' formats.</li>
    <li>You can view saved documents and allow others to view them.</li>
    <li>The assistant can create cheat sheets with the ability to edit them.</li>
    <li>The assistant can find the required document (article) or cheat sheet by keyword.</li>
</ul>
<span class="fs-3">Successful cooperation!</span>


{% endblock %}